@media (max-width: 375px){
  body{
    font-size: 0.8em;
  }
  .list_text{
    width: 100%;
  }
  .list_count{
    width: 40%;
    height: 30%;
  }
    .seconds{
    font-size: 3em;
  }
  .place_left{
    font-size: 0.9em;
  }
}

@media (max-width: 667px){ /* FOR HORIZONTAL MOBILE*/
  body{
    font-size: 12px;
  }
}
@media (max-width: 768px){
  .section_list_list li{
    width: calc(100% - 2em);
    margin: 1em;
  }
}
